/* Some default styles and need to set the box model*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Overall styling for the body */
body {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(240, 236, 232);
  color: black;
}

/* Container for elements with padding */
.container {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

/* Apply a box shadow to the first container */
.container:nth-child(1) {
  box-shadow: 0 0 5px rgb(39, 41, 39);
}

/* Remove default button styles */
button {
  outline: none;
  border: 0;
  background: transparent;
}

/* Styling for the search input and search icon */
.form-control {
  width: 400px;
  box-shadow: 0 0 5px rgb(197, 201, 197);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.form-control input {
  width: 100%;
  padding: 17px 14px;
  outline: 0;
  border: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.form-control i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Add a cursor pointer to all icons */
i {
  cursor: pointer;
}

/* Styling for the region filter dropdown */
.drop-down-container {
  position: relative;
  width: 200px;
}

.drop-down {
  padding: 17px 14px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(197, 201, 197);
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  font-size: 15px;
  cursor: pointer;
}

/* Add spacing to region filter text */
.drop-down p {
  letter-spacing: 0.5px;
}

/* Styling for the region filter dropdown options */
.drop {
  position: absolute;
  box-shadow: 0 0 5px rgb(197, 201, 197);
  top: 4rem;
  padding: 10px 14px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(240, 236, 232);
  cursor: pointer;
}

/* Add spacing to region filter options */
.drop p {
  margin: 5px 0;
}

/* Styling for the container of dynamically added country cards */
.countries {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Styling for each country card */
.country {
  min-height: 400px;
  box-shadow: 0 0 5px rgb(197, 201, 197);
  border-radius: 5px;
  overflow: hidden;
}
/* Styling for the country image */
.country-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.country-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Styling for the country information */
.country-info {
  padding: 17px 14px;
}

.country-info h5 {
  padding: 8px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.country-info p {
  letter-spacing: 1px;
}

.country-info p>strong {
  font-weight: 600;
}

/* Hiding the dropdown initially */
.showDropDown {
  display: none;
}

/* Styling for the country details page */
.countrypage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  padding: 30px;
}

/* Styling for the back button */
.back {
  position: absolute;
  top: 3rem;
  left: 30px;
  background-color: whitesmoke;
  box-shadow: 0 0 5px rgb(197, 201, 197);
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the detailed country information layout */
.pcountry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}

/* Styling for the left side of the country details page */
.leftpage {
  width: 50%;
}

.leftpage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Styling for the right side of the country details page */
.rightpage {
  width: 100%;
  margin-left: 40px;
}

.rightpage h1 {
  margin: 10px 0;
  letter-spacing: 1px;
  font-size: 40px;
}

/* Styling for the country information details layout */
.countryinfo {
  display: flex;
  justify-content: space-between;
  padding: auto;
}

/* Styling for the detailed information text */
.details p {
  letter-spacing: 1px;
}

/* Styling for strong elements within the detailed information */
.details p>strong {
  font-weight: 600;
}

/* Initially hiding the country details page */
.show {
  display: none;
}